      body {
        margin-top: 0px; 
        margin-bottom: 0px; 
        margin-left: 0px; 
        margin-right: 0px; 
		background-color: #F6F8FA; 
		font-family: "Verdana", "Arial", "Helvetica";}
	  table {	  
		width: 100%;
		border-spacing: 0px;
        padding: 4px;
		border: 0px;}
	  img { border: 0;}
	  td {
        text-align: center;
		vertical-align: top;		
      }
	  blockquote {
	    margin-left: 8%;
      }		
	  .container {	  
	    text-align: center;
		display: block;
		margin: auto;
      }
	  .headcontainer {	  
	    text-align: center;
		display: block;
		margin: auto;
		letter-spacing: 0.08em; 
		font-size: 18px;
		font-size: 1.0rem; 
		text-shadow: 2px 2px 4px #0F0F0F;
      }
	  .menulink{
	    font-weight: bold;
		color: black !important; 
		text-decoration: none;
	  }
      #ulnorm {
        color: #000;
        font-weight: bold;
        font-size: 18px;
	  }	  
      #link { 
	    color: red;
	  }
      .site-footer {
        background: #FFE300; 
        border-top: 1px solid black;
        left: 0px;
        right: 0px;
        bottom: 0px;
      }
      #footer-content {
        background: #FFE300;
        left: 0px;
        right: 0px;
        bottom: 0px;
      }
    @keyframes bgrandom {
    0% { background: linear-gradient(90deg, rgba(255,255,255,0.98) 50%, rgba(255,255,255,0.96) 0%); }
    50% { background: linear-gradient(90deg, rgba(255,255,255,0.98) 50%, rgba(255,255,255,0.96) 0%); }

    55% { background: linear-gradient(90deg,  rgba(255,255,255,0.96) 50%, rgba(255,255,255,0.98) 0%); }
    80% { background: linear-gradient(90deg, rgba(255,255,255,0.96)  50%, rgba(255,255,255,0.98) 0%); }

    85% { background: linear-gradient(90deg, rgba(255,255,255,0.96) 50%, rgba(255,255,255,0.94) 0%); }
    100% { background: linear-gradient(90deg, rgba(255,255,255,0.96) 50%, rgba(255,255,255,0.94) 0%); }
    }
	#element{  animation: 1.2s bgrandom infinite; }
	
	
	